@model List<DispositivoEletronico>

<h1>Lista de Despositivos Eletrônicos </h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Ano de Fabricação</th>
            <th>Detalhes</th>
        </tr>


    </thead>
    <tbody>
        @foreach (var dispositivo in Model)
        {
            <tr>
                <td>@dispositivo.Marca</td>
                <td>@dispositivo.AnoDeFabricacao</td>
                <td>@dispositivo.Modelo </td>
                <td>
                    @if (dispositivo is Computador)
                    {
                        <strong>RAM: </strong> @(((Computador)dispositivo).MemoriaRam <br />
                        <strong>RAM: </strong> @(((Computador)dispositivo).Ehlaptop ? "laptop" : "Desktop")
                    }
                    else if (dispositivo is Smartphone)
                    {
                       <strong>5G:</strong> @(((Smartphone)dispositivo).Tem5G ? "SIM" : "NÃO")
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
